body,
html {
	height: 100%;
	width: 100%
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200
}

body {
	font-weight: 600
}

.lead {
	font-size: 18px;
	font-weight: 400
}

p {
	color: #656565;
	font-weight: 400;
	font-family: Avenir
}

h4 {
	color: #fff;
	font-family: Avenir;
	font-size: 18px
}

.header {
	padding: 8px 0;
	z-index: 10000
}

.navbar-default {
	background-color: #2c436a;
	border-color: #2c436a
}

.navbar .navbar-header,
.navbar-collapse {
	float: none;
	display: inline-block;
	vertical-align: top;
	padding-left: 0;
	padding-right: 0
}

.navbar-nav {
	float: none;
	color: #fff
}

.navbar-default .navbar-nav>li>a {
	color: #fff
}

.navbar-default .navbar-nav>li>a:hover {
	color: #ecd207
}

.top-header {
	padding-top: 60px;
	color: #f8f8f8;
	background: #2c436a
}

.top-message {
	position: relative;
	padding-top: 25%;
	padding-bottom: 0;
	padding-right: 50px
}

.top-message>h1 {
	margin: 0;
	font-size: 4em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
	font-weight: 700
}

.top-message>h3 {
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
	font-weight: 400;
	margin-top: 10px
}

.top-message>p {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 25px;
	color: #fff
}

.wrap-content {
	background: #fff;
	padding: 75px 0
}

.wrap-content1 {
	background: #2c436a
}

.wrap-content h2 {
	color: #000;
	margin-bottom: 30px
}

.wrap-content1 h2 {
	color: #fff;
	margin-bottom: 30px
}

.wrap-content p {
	color: #000;
	font-size: 14px;
	line-height: 22px
}

.wrap-content1 p {
	color: #fff;
	font-size: 14px;
	line-height: 22px
}

footer {
	background-color: #2c436a;
	padding: 50px 0
}

h4.copyright {
	margin: 15px 0 0
}

@media (max-width:767px) {
	.container {
		text-align: center;
		margin: 0 auto
		display:none;
	}

	.navbar .navbar-header,
	.navbar-collapse {
		display:none;
	}

	.top-header {
    padding-top: 20px;
	}

	.top-message {
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0
	}

	.navbar-default .navbar-nav>li>a {
		text-align: center
	}

	#me {
		width: 200px;
		height: 200px;
		margin-bottom: 10px
	}
	.top-message>h1 {
		font-size: 3em
	}
}

@media (max-width:421px) {
	.container {
		text-align: center;
		margin: 0 auto
		display:none;
	}

	.navbar .navbar-header,
	.navbar-collapse {
		display:none;
	}

	#me {
		width: 200px;
		height: 200px;
		margin-bottom: 10px
	}
	
	.contact-info {
		padding: 0;
		display: table
	}
	.contact-info li {
		margin-right: 0;
		font-size: 22px;
		margin-bottom: 5px
	}
}

@media only screen and (min-width:768px) and (max-width:959px) {
	.top-message {
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0
	}
	.top-message>h1 {
		font-size: 35px;
		margin-top: -25px
	}
	.top-message>h3 {
		font-size: 20px
	}
	.top-message>p {
		font-size: 13px;
		line-height: 21px;
		margin-bottom: 10px
	}
	.contact-info li {
		list-style: none;
		float: left;
		margin-right: 15px;
		font-size: 24px;
		font-family: Assistant;
		margin-top: 5px;
		letter-spacing: -1px
	}
}

@media only screen and (min-width:960px) and (max-width:1050px) {
	.container {
		width: 90%!important;
		max-width: 90%!important;
		margin: 0 auto
	}
	.top-message {
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0
	}
	.top-message>h1 {
		font-size: 45px;
		margin-top: -25px
	}
	.top-message>h3 {
		font-size: 24px
	}
	.top-message>p {
		margin-bottom: 10px
	}
}
