body
	{
		background: #ffffff;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
	}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

h1,h2,h3 {
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

h2 {
  color: #ffffff;
  padding-bottom: 10px;
}

h3 {
  font-size: 1rem;
  line-height: 2rem;
}

p {
  color: #828282;
  letter-spacing: 0.8px;
  line-height: 28px;
}

strong {
  color: #cc6c68;
  font-weight: 700;
}

#about,
#feature,
#contact {
  background: #ffffff;
}

#about,
#feature,
#contact,
footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  padding-bottom: 62px;
}
.section-title h1 {
  padding-bottom: 10px;
}
#about .section-title {
  padding-bottom: 22px;
}
#contact .section-title {
  text-align: center;
}

#slideshow {
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  backface-visibility: hidden;
}

/* About */
#about h3 {
    margin-top: 0px;
}

#about .about-thumb {
  padding-top: 10px;
}


/* Feature */
#feature {
  background: #cc6c68;
}

#feature .fa {
  color: #ffffff;
  font-size: 42px;
  padding-right: 14px;
}

#feature p {
  color: #333;
}

#feature .btn {
    background: transparent;
    border: 3px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 14px 36px;
    margin-top: 62px;
    margin-right: 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#feature .btn:hover {
  background: #ffffff;
  color: #333;
  border-color: transparent;
}



/* Contact */
#contact .form-control {
  background: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #999;
}

#contact input {height: 55px;}

#contact input[type='submit'] {
  background: #242424;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#contact input[type='submit']:hover {
  background: #cc6c68;
}


/* Footer  */
footer {
  background: #111112;
	text-align: center;
}

footer .copyright-text {
  padding-top: 10px;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #FF6;
}

/* SVG */
.svgcolor-light {
  /*position: absolute;
  top: 0;
  left: 0; */
  position: relative;
  bottom: 104px;
}
.svgcolor-light > path {
  fill: white;
  stroke: white;
  stroke-width: 0;
}

/* Back */
.go-top {
  background-color: #eee;
  bottom: 2em;
  right: 2em;
  color: #111112;
  font-size: 22px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #cc6c68;
    color: #ffffff;
}


/* Socials  */
.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  border-radius: 100px;
  color: #626262;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin-top: 12px;
  margin-right: 10px;
}

.social-icon li a:hover {
  background-color: #cc6c68;
  color: #ffffff;
}

/* Mobile Responsive */
@media (max-width: 980px) {

  h1 {
    font-size: 2.4rem;
  }

  #about .section-title {
    padding-bottom: 12px;
  }

  #feature .col-md-4 {
    padding-bottom: 32px;
  }

}


@media (max-width: 768px) {

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

}


@media (max-width: 700px) {

  .modal-dialog .modal-content {
    padding: 50px 20px;
  }

  footer {text-align: center;}
  footer .col-sm-6 {
    padding-bottom: 32px;
  }

  .modal-dialog .close {
  font-size: 35px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}

}
